body{
	font-family: 'Noto Sans TC', sans-serif;
	line-height: 1.5;
	text-align: left;
	font-size: 1rem;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Sans TC', sans-serif;
	font-weight: 700;
}
.subheading {
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1.2rem;
	font-weight: normal;
}
h1, h2, h3, h4, h5, h6, .subheading {
    text-transform: none;
}
h1, .h1 {
    font-size: 5rem;
}
h1 {
	line-height: 1;
}
.bg-primary {
	background-color: #0d145e!important;
	background-image: url(../assets/img/batthern.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.text-primary {
	color: #0d145e!important;
}
a {
	color: #002687;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.table th, .table td {
	vertical-align: middle;
}
.table thead th {
	text-align: center;
	background-color: #f2bd1f;
}
